
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="PowerMill Helper" Language="1033" Version="1.0.0.0" Manufacturer="YourCompany" UpgradeCode="9679ba11-ebc6-4a57-9cd9-1579d65ef2ba">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="PowerMill Helper" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    
 
    
    
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="PowerMill_Helper" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="PowerMillHelperDLL" Guid="9679ba11-ebc6-4a57-9cd9-1579d65ef2ba">
        <File Id="PowerMillHelperDLL" Source="..\PowerMill_Helper\bin\Debug\PowerMill_Helper.dll" >
          <Class Id="{BC3610A0-A0F6-4244-8053-A99AADE569F5}" Context="InprocServer32" ThreadingModel="apartment" Description="PowerMill Helper Class" />
        </File>
        <RegistryValue Root="HKCR" Key="CLSID\{BC3610A0-A0F6-4244-8053-A99AADE569F5}\Implemented Categories\{311b0135-1826-4a8c-98de-f313289f815e}" Type="string" Value="" KeyPath="yes" />
      </Component>
      <Component Id="PluginFramework" Guid="FBE7846B-9898-459D-AA4B-665A33BBB3A5">
        <File Id="PluginFrameworkFile" Source="..\PowerMill_Helper\bin\Debug\PluginFramework.dll" />
      </Component>


    </ComponentGroup>
  </Fragment>
  <Fragment>
    <!-- 定义自定义操作 -->
    <CustomAction Id="RegisterPmPlugin"
                  FileKey="regasm.exe"
                  ExeCommand="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\regasm.exe [INSTALLFOLDER]Pmplugin.dll /register /codebase"
                  Return="ignore"
                  Execute="deferred"
                  Impersonate="no" />

    <CustomAction Id="UnregisterPmPlugin"
                  FileKey="regasm.exe"
                  ExeCommand="[INSTALLFOLDER]Pmplugin.dll /unregister"
                  Return="ignore"
                  Execute="deferred"
                  Impersonate="no" />

    <!-- 调度自定义操作 -->
    <InstallExecuteSequence>
      <Custom Action="RegisterPmPlugin" After="InstallFinalize" />
      
    </InstallExecuteSequence>
  </Fragment>
</Wix>
